@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Mono&display=swap');



body {
    min-width: 640px;
    
    display: flex;
    flex-basis: auto;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace,'Open Sans Condensed', sans-serif;
    background: #105668e8;
    color: #f6e088ca;
    font-size: 1em;
    
    border-radius: 25%;
    
    
     }
   

    
     select {
        background: #105668e8;
        color: #f6e088ca;
        font-size: 1em;
        
    }

.checkboxlabel {
    font-size: 0.9rem;
}

     .checkbox {
            width: 1em;
            height: 1em;
            background-color: white;
            border-radius: 50%;
            vertical-align: middle;
            border: 1px solid #ddd;
            -webkit-appearance: none;
            outline: none;
            cursor: pointer;
        }
        
        .checkbox:checked {
            background-color: goldenrod;
        }
    

#favourite


.surveyform-fieldsets {

    align-items: stretch;
    display: flex;
    flex-direction: column;
    border: 2px solid #f6e088ca;
    border-radius: 2em / 2em;
    
    background: transparent;
    color: #f6e088ca;
    

}

#comments {
    flex-basis: auto;
   width: 75%;
    background: transparent;
    color: #f6e088ca;
    border: 2px solid #f6e088ca;
    border-radius: 2em / 2em;
    vertical-align: middle;
}


:required {
    color: #f6e088ca;
        background: transparent;
    }


#wrapper {
    display: flex;
    border: 2px solid #f6e088ca;
    border-radius: 2em / 2em;
    margin: auto;
   
}

#surveyform {
    display: flex;
background: rgba(0, 0, 0, 0.7);

border-radius: 25px;
padding: 1rem;
  margin: auto;

}



button {
    font-size: 1rem;
    
    width: 5em;
    height: 4em;
    background: transparent;
    color: #f6e088ca;
    border-radius: 50%;
    vertical-align: middle;
    
    
    border: 1px solid #ddd;
    
    outline: none;
    cursor: pointer;
}

.logo {
    display: flex;
 
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
}

.logo span {
    font-size: 3rem;
    padding: 0.5rem 1rem;
}

a, a:hover, a:active, a:focus {
    color: #f6e088ca;
  
    font-weight: bold;
    padding: 1em;
    text-decoration: none;
}